@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.active{
    color: silver;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.nonactive{
    color: black;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
