body{
    margin: 0;
    background-color: #000000;
    justify-content: center;
    overflow-x: hidden;
}
.headerdiv{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.light {
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}