
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body.light .cinzel-title-box {
    color: black;
}

body.dark .cinzel-title-box {
    color: white;
}
.moviegrid{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    gap: 6vh;

}

.moviestyle{
    width: 18vw ;
    height: 46vh;
    display: flex;
    justify-content: center;

}

.movie-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;

}
.image-container {
    width: 80%;
    height: 80%;

}
.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-box{
    height:10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2vw;
}
.cinzel-title-box {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.buttons-polygon{
    margin-top: 10vh;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curr-box{
background-color: black;
    color: white;
    width: 2vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    margin-left: 1px;
}
.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: black;
    color: white;
    width: 6vw;
    height: 4vh;
    border-radius: 15%;
}

.link-box{
    text-decoration: none;
    color: white;
}